<section class="main-sidebar" ng-controller="HeaderController as vm">
  <!-- sidebar: style can be found in sidebar.less -->
  <div class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview" ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
      <!-- <li class="treeview active">
        <a href="index.html">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/my_jobs.html">
          <i class="fa fa-suitcase"></i>
          <span>My Jobs</span>
          <span class="label label-primary pull-right">4</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/my_candidates.html">
          <i class="fa fa-user-secret"></i>
          <span>My Candidates</span>
          <span class="label label-primary pull-right">4</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/client_management.html">
          <i class="fa fa-users"></i>
          <span>Client management</span>
          <span class="label label-primary pull-right">4</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/resume.html">
          <i class="fa fa-search"></i>
          <span>Resume Database</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/setting.html">
          <i class="fa fa-gears"></i>
          <span>Setting</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/calendar.html">
          <i class="fa fa-calendar"></i>
          <span>Calendar</span>
          <small class="label pull-right bg-red">3</small>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/reports.html">
          <i class="fa fa-file-text"></i>
          <span>Reports</span>
          <small class="label pull-right bg-yellow">12</small>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/mailbox.html">
          <i class="fa fa-envelope"></i>
          <span>Email templates</span>
        </a>
      </li>
      <li class="treeview">
        <a href="pages/help.html">
          <i class="glyphicon glyphicon-question-sign"></i>
          <span>Help</span>
        </a>
      </li> 
      <li class="header">LABELS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
    </ul>
  </div>
  <!-- /.sidebar -->
</section>